@import "all_colors_variables.scss";
$background_color:#fafafa;
$colorOne: rgb(47, 46, 46);
$colorTwo: rgb(160, 160, 159);
$colorTwo467: rgb(121, 121, 119);
$beige: #ECE7E0;



.about{
    // position: relative;
    flex: 1 0 auto;
    width: 100%;
    height: 100%;
    max-height: 600px;
    min-height: 590px;
    background-color: $background_color;
    margin-top: -5px;
    z-index: 50;
}

.about_row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 567px;
    font-weight: 400;
    margin-bottom: 36px;
    background-color: $background_color;

}

.about_img{
    position: relative;
    flex: 1 0 50%;

    & img{
        width: 1272px;
        height: 567px;
        position: absolute;
        object-fit: cover;
        object-position: 100% 0%;        
    }
}
         

.about_text{
    position: relative;
    flex: 1 0 50%;
    padding: 65px;
    &_header{
        font-size: 38px;
        font-family: EBGaramond, serif;
        font-weight: 500;
        color: $colorOne;
        margin-bottom: 35px;
        
    }
    & .about_line_decor{
        width: 33px;
        height: 1px;
        background-color: $colorOne;
        
    }
    &_text{
        font-size: 13px;
        color: $colorTwo; 
        font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
        letter-spacing: normal;
        line-height: normal;
        margin-top: -20px;
        max-width: 100%;
    }
    &_container_p{
        width: 360px;
        padding-top: 35px;
 
         & .about_p1{
            padding: 20px 0;
            display: inline-block;
            margin-bottom: -15px;
         }
         & .about_p2{
            padding: 20px 0;
            display: inline-block;
            margin-bottom: -15px;
         }
         & .about_p3{
            padding: 20px 0;
            display: inline-block;
            margin-bottom: -15px;
         }
    }
}

@media (max-width: 992px) {

    .about_text{

        max-width: 50%;
        padding: 40px;
        &_container_p{
            margin: 0 -15px ;
        }
    }  
}

@media (max-width: 767px) {
    .about{
        height: 560px;
    }
    .about_row{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 0;
    }
    .about_img{
    
        & img{
            // width: 1272px;
            height: 590px;
            position: absolute;
            object-fit: cover;
            object-position: center;        
        }
    }
    .about_text{
        position: absolute;
        flex: 1 0 50%;
        padding: 45px;
        &_text{
            font-size: 14px;
        }
    }  
}


@media (max-width: 479px) {
    .about {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 0 -20px 0;
        padding: 0;
        background-color:#ECE7E0;
        box-shadow: inset 0 0px 30px rgba(124, 121, 116, 0.3);
         

		&_row {
            position: relative;
            display: block;
            margin:0;
            padding: 0;
            background-color: rgba($color: #fff, $alpha: 0);
            // box-shadow: inset 0 -20px 25px rgba(0, 0, 0, 0.1);


            & .about_img {
                position: relative;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                top: 0;            
                
                img {
                    object-fit: cover;
                    object-position: center;   
                    position: relative;
                    width: 100%;
                    min-height: 567px;  
                    visibility: hidden;
 
                }

            }
            & .about_text {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items:center;
                flex-direction: column;
                padding: 10px;
                top: 0;
                min-width: 100%;

                &_header{
                    position: relative;
                    margin: 0 0 3px 0;
                    padding: 22px 5px 15px 5px;
                    display: block;
                }
                & .about_line_decor{
                    position: relative;
                    margin: 0;
                    padding: 0;
                    display: block;
                }
                &_text{
                    position: relative;
                    margin: 0 auto;
                    padding: 5px;
                    display: block;
                    // flex: 1 1 auto;
                    min-width: 100%;

                    
                    & .about_text_container_p{
                        max-width: 100%;
                        padding: 15px 0px 5px 0px;
                        margin: 0 auto;

                        p{
                            display: inline-block;
                            margin: 0 0 10px 0;
                            padding: 0;
                            line-height: 140%;
                            color: $colorTwo467;
                        }

                    }

                }
            }
        }

    }   
}   

@media (max-width:290px) {
    .about {
		&_row {
            & .about_text {
                &_header{
                    margin: 0 0 3px 0;
                    padding: 16px 4px 10px 4px;
                }
                &_text{
                    padding: 2px;
                    min-width: 100%;
                    & .about_text_container_p{
                        padding: 10px 0px 5px 0px;
                        p{
                            margin: 0 0 7px 0;
                            padding: 0;
                        }

                    }

                }
            }
        }

    }   
    
}
