@use "sass:math";
@import "all_colors_variables.scss";

.content{
    position: relative;
    flex: 1 0 auto;
    width: 100%;
    z-index: 5;
 
}

.content_row{
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background-color: $background_color;
    

}
// .content_row_first{
//     // position: relative;
//     // flex: 1 0 33.333%;

// }
// .content_row_second{
//     position: relative;
//     flex: 1 0 33.333%;
// }
// .content_row_third{
//     position: relative;
//     flex: 1 0 33.333%;
// }
.content_row_wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.content_row_item{
    position: relative;
    flex: 1 0 25%;
    object-fit:cover;
    
    width: 476px;
    min-width: 245px;
    min-height: 183px;
    height: 357px;

    cursor: pointer; 
    // text-align: center;
    margin: auto 0; 
    transition: all 2s ease-in-out;

    &::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transition: background-color 0.9s ease;

    }
    &:hover::after{
        display:block;
        background-color: rgba(250, 250, 250, 0.6);
        transition: background-color 0.9s ease;
    }
    
    
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        // margin: auto 0;
        object-position: 50% 50%;
        // object-position: 50% 0%;        
    }

    &.i8{
        img{
           object-position: 50% 32%; 
        }            
    }

    &.i3{
        img{
            object-position: 50% 20%;
        }            
    }
    &.i5{
        img{
            object-position: 50% 30%;
        }            
    }
    &.i11{
        img{
            object-position: 50% 10%;
        }            
    }
    
}


$viewport_width: 100vw;
$viewport_heigth: 100vh;
$img_container_width: math.div($viewport_width, 4);
$img_container_width2: math.div($viewport_width, 1.33);
$img_container_width3: math.div($viewport_width, 3);


@media (max-width: 2000px ){
    .content_row_item{
        max-width: $img_container_width;
        height: math.div($img_container_width, 1.33);
        width: $img_container_width;

    }
}

@media (max-width: 992px){
    .content_row_item{
        flex: 1 0 33.333%;
        max-width: $img_container_width2;
        height: math.div( $img_container_width3, 1.33);
        // min-width: math.div($viewport_width, 3);
        max-height: 30vh;

    }
}

// @media (max-width: 767px){
//     .content_row_item{
//         flex: 1 0 50%;
//         max-width: 100%;
//         height: math.div($viewport_width, 1.33);
//         min-width: 380px;
//         min-height: 285px;
//         max-height: 20vh;
//     }
//     // .wrapper{
//     //     // min-width: 700px;
//     // }
// }

@media (max-width: 767px){

    .content_row_item{
        flex: 1 1 50%;
        min-width: 140px;
        min-height: 235px;

        max-width: 100%;
        height: math.div($viewport_width, 1.33);

        &.i1{
            flex: 1 0 63%;
        }
        &.i2{
            flex: 1 0 33%;
        }
        &.i3{
            flex: 1 0 33%;
        }
        &.i4{
            flex: 1 0 63%;
        }
        &.i7{
            flex: 1 1 63%;
        }
        &.i8{
            flex: 1 1 33%;
        }

    }
}


// Slider
.popup_photo{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7);

    
    justify-content:center;
    align-items:center;
    // -webkit-tap-highlight-color: transparent;

    img {
        object-fit: contain;
        object-position: center center;
        max-width: 85vw;
        max-height: 90vh;
        z-index: 100;
        position: relative;
        // -webkit-tap-highlight-color: transparent;
    }
}


.bigPhotoWrapper{
    max-width: 85vw;
    max-height: 90vh;
    z-index: 100;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    // -webkit-tap-highlight-color: transparent;

    left: 0;
    top: 0;

    // transition: all ease 0.3s 0s;

}


.next{
    width: 50%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    // -webkit-tap-highlight-color: transparent;

    &::before, &::after{
        content: "";
        width: 35px;
        height: 2px;
        background-color: $white;
        position: absolute;
        top: 50%;
        left: 87%;
        z-index: 250;
        stroke: $white;
    }
    &::before{ transform: translateY(-12px) rotate(45deg);}
    &::after{ transform: translateY(12px) rotate(-45deg);}

    &._mobile::before{display: 'none';}
    &._mobile::after{display: 'none';}

}

.prev{
    width: 50%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    display: none;
    position: absolute;
    left: 0;
    top:0;
    cursor: pointer;
    // -webkit-tap-highlight-color: transparent;

    &::before, &::after{
        content: "";
        width: 35px;
        height: 2px;
        background-color: $white;
        position: absolute;
        top: 50%;
        right: 87%;
        z-index: 200;
        stroke: $white;
    }
    &::before{ transform: translateY(-12px) rotate(-45deg);}
    &::after{ transform: translateY(12px) rotate(45deg);}

    &._mobile::before{display: 'none';}
    &._mobile::after{display: 'none';}

}

.closeX{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: -45px;
    z-index: 250;
    cursor: pointer;
    // -webkit-tap-highlight-color: transparent;
    &::before, &::after{
        content: "";
        height: 2px;
        width: 100%;
        background-color: $white;
        position: absolute;
        top: 14px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &::before{transform: rotate(45deg);}
    &::after{transform: rotate(-45deg);}

    &._mobile::before{display: 'none';}
    &._mobile::after{display: 'none';}


}

.fadeOne{
    animation: fadeOne 1s ease-in-out;
    transition: all ease-in-out 1s;
}
@keyframes fadeOne {
    0%{
        opacity: 0.2;


    }
    100%{
        opacity: 1;

    }  
}
.fadeTwo{
    animation: fadeTwo 1s ease;
    transition: all ease 1s;
}
@keyframes fadeTwo {
    from{
        opacity: 0.2;
    }
    to{
        opacity: 1;
    }  
}

.fadeThree{
    animation: fadeThree 1s ease-in-out;
    transition: all ease-in-out 1s;
}
@keyframes fadeThree {
    0%{
        transform: translateX(-20%);

    }
    100%{
        // opacity: 1;
        // top: 0;
        transform: translateX(0%);
    }  
}


body._touch .bigPhotoWrapper img{
    max-width: 100vw;
    max-height: 90vh;
}