@import "all_colors_variables.scss";
$white: #fff;


.static_bg_photo{
    position: relative;
    flex: 1 0 auto;
    &_row{
        min-height: 898px;
        display: flex;
        justify-content: center;
        width: 100%;  //?
        height: 898px;
        // &_photo{
        //     background: fixed url(../img/dev6.jpg) no-repeat;
        //     background-size: cover;
        //     background-position: 100% 100%;

        //     flex: 1 1 100%;
        //     position: relative;
        // }


        &_container_H4{
            width: 100vw;  
        }
        &_H4{
            width: 603px;
            height: 174px;
            position: relative;
            margin: 650px 0px 10px calc((100% - 980px) * 0.5);
            left: 39px;
            &_text{
                font-size: 45px;
                color: $white;
                letter-spacing: 0.1em;
                font-family: EBGaramond, serif;
                vertical-align: baseline;
                text-align: start;
                margin: 0;
                line-height: normal;
                //for bloom
                opacity: 0;
                transition: ease 1s all;
               
            }
        }
    }
}


.static_bg_photo_row_photo{
    // background: 0 0/cover fixed url(../img/dev6.jpg) no-repeat;
    background: 50% 50%/cover fixed url(../img/nikita_i_listok1.jpg) no-repeat;
    // background-size: cover;
    // background-position: 100% 100%;

    flex: 1 1 100%;
    position: relative;
    // filter:grayscale(0.5);
}

//Animations---------------------------------------------
//-------------------------------------------------------
.bloom{
    animation-duration: 1s;
    animation-name: bloom;
    animation-timing-function: linear;
    transition: ease 1s all;
}

@keyframes bloom{
    0%{
    opacity: 0;
    position: absolute;
    bottom: -50px;
    }
    100%{
    opacity: 1;
    bottom: 0;
    position: relative;
    }
}


@media (max-width:992px) {
    .static_bg_photo {
        height: 798px;
        &_row{
            height: 798px;
            min-height: 798px;
            &_container_H4{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                height: 100%;
            }
            &_H4{
                margin: 0 0 65px 0;
                left: 0;

                &_text{
                    padding: 10px;
                    display: inline-block;
                    text-align: justify;
                    font-size: 40px;
                }
            }
        }
    }
}

@media (max-width: 639px) {
    .static_bg_photo {
        height: 698px;
        &_row{
            height: 698px;
            min-height: 698px;
            &_H4{
                padding: 10px;
                margin: 0 0 40px 0;
                &_text{
                    padding: 9px;
                    font-size: 37px;
                    text-align: start;
                }
            }
        }
    }
    
}
@media (max-width: 511px) {
    .static_bg_photo {
        height: 558px;
        &_row{
            height: 558px;
            min-height: 558px;
            &_H4{
                margin: 0 0 25px 0;
                &_text{
                    padding: 7px;
                    font-size: 32px;
                }
            }
        }
    }
    
}

@media (max-width: 450px) {
    .static_bg_photo_row_H4_text{
        font-size: 26px;
    } 
    .static_bg_photo_row_H4{
        margin: 0 0 10px 0;
    }
}

@media (max-width: 365px) {
    .static_bg_photo_row_H4_text{
        font-size: 21px;
        padding: 5px;
        line-height: 150%;
    }
    .static_bg_photo_row_H4{
        margin: 0 0 -5px 0;
    }
    .static_bg_photo{
        height: 458px;
    }
    .static_bg_photo_row{
        height: 458px;
        min-height: 458px;
    }
}

@media (max-width: 300px) {
    .static_bg_photo_row_H4_text{
        font-size: 19px;
        padding: 5px;
    }
    .static_bg_photo_row_H4{
        margin: 0 0 -15px 0;
    }
}
